@layer components {
    .icon-courses {
        @apply before:content-['']
        before:inline-block 
        before:absolute
        before:left-[-16px] 
        before:top-[50%] 
        before:translate-y-[-50%] 
        before:w-[6px] 
        before:h-[6px] 
        before:bg-[var(--primary-color)] 
        before:rounded-[50%];
    }

    .icon-play {
        @apply after:content-['']
        after:absolute
        after:top-2/4
        after:left-2/4
        after:inline-block
        after:border-l-[14px]
        after:border-y-[9px]
        after:border-solid
        after:border-y-transparent
        after:border-l-[var(--primary-color)]
        after:translate-x-[-50%]
        after:translate-y-[-50%];
    }
}
